*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0;    
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
}

ul,li,nav{
    list-style-type: none;

}

.colorearContenedorArriba{
    background-color: antiquewhite;
    border-bottom: #2D2926 3px solid;
}

    .nav_menu_right{
        padding-bottom: 10px;
    }

/*HEADER Y SUS DATOS*/
.header{
    display: flex;
    height: 26px;
    justify-content: center;
    background-color: #2D2926;
    
}
header p.header-body{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;

}
header p.header-body a{
    color: white;
    text-decoration: none;
    
}
header p.header-body a:hover{
    color: #dd6565;
}


/*PARTE IZQUIERDA MENU LOGO*/

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #2D2926;
}



/*PARTE MEDIA DEL MENU*/


.navegacionBarra ul li{
    display: flex;
    margin-right: 70px;
    list-style: none;
}

.navegacionBarra ul li a.anormal{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top:170px;
    transition: ease 0.4s;
}
.navegacionBarra ul li a.normal{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navegacionBarra ul li a.anormal:hover{
    background-color: #dd6565;
    padding-top: 120px;
}

.navegacionBarra ul li a.normal:hover{
    color: grey;
}

.btn {
    background-color: #2D2926;
    border: none; 
    color: white; 
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer; 
}


.contenedorAbajo{   
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #bbb;
    height: 1000px;
}
    .contenedorAbajo h3,label{
        font-size: 20px;
    }

.flip-card{
    margin-left: 130px;
}



/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    text-align: center;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.form-group1{
    margin-top: 50px;
    background-color: aqua;
}
.form-group2{
    margin-top: 200px;
    background-color: #dd6565;
}
