<!DOCTYPE html>
<html>
  <head>
    <title>Practica para Sistemas</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />

    <!--FONT ROBOTO-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--FONT QUICKSAND-->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Quicksand"
    />
    <!--FONT AWESOME-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <!--FONT OSWALD-->
    <!--FONT RALEWAY-->
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/stylesActors.css" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>


    <header class="header">
      <p class="header-body">
        Correo electrónico: <a href="#">takemymovie@gmail.com></a> &nbsp; |
        &nbsp;Teléfono: <a href="#">987 35 35 35</a> &nbsp; | &nbsp;
        <a href="#">León, Avenida Gutiérrez nº4545</a>
      </p>
    </header>
    <div class="container-fluid colorearContenedorArriba">
        <div class="d-flex justify-content-between">
          <div class="logo">
            <form method= "get" action="/" class="form">
                <a href="#" onclick="$(this).closest('form').submit()" class="nav-link-propio" href="#"></a>
                <img src="/logo.png" class="imagenLogo"/>
            </form>
          </div>
          <nav class="navegacionBarra navbar-expand navbar-nav">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <form method= "post" action="/movies/list" class="form">
                  <a href="#"  onclick="$(this).closest('form').submit()" class="nav-link normal" href="#">PELÍCULAS</a>
                  </form>
              </li>
              <li class="nav-item">
                  <form method= "post" action="/actors/list" class="form">
                  <a href="#"  onclick="$(this).closest('form').submit()" class="nav-link normal" href="#">ACTORES</a>
                  </form>
              </li>
              <li class="nav-item">
                  <form method= "post" action="/directors/list" class="form">
                  <a href="#"  onclick="$(this).closest('form').submit()" class="nav-link normal" href="#">DIRECTORES</a>
                  </form>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle normal"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  AÑADIR</a
                >
                <div class="dropdown-menu colocarMenuDrop" style="font-family:'Quicksand';" aria-labelledby="navbarDropdown">

                    <form method= "post" action="/adding-movie" class="form">
                        <a href="#"  onclick="$(this).closest('form').submit()" class="dropdown-item noNormal" href="#">Nueva película</a>
                    </form>
    
                    <form method= "post" action="/adding-actor" class="form">
                        <a href="#"  onclick="$(this).closest('form').submit()" class="dropdown-item noNormal" href="#">Nuevo actor</a>
                    </form>
    
                    <form method= "post" action="/adding-director" class="form">
                        <a href="#"  onclick="$(this).closest('form').submit()" class="dropdown-item noNormal" href="#">Nuevo director</a>
                    </form>
                  </div>
              </li>
            </ul>
          </nav>
          <div class="nav_menu_right d-flex align-items-end" style="font-family:'Quicksand';">
            <form method= "post" action="/search-movies" class="form-inline">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Buscar película..."
                aria-label="Search"
                name="titleSearched"
              />
              <button class="btn"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
    </div>

    <div class="containerPropio">
        <div id="pictureBlock">
            <div id="contenedorPropioAbajo" class="grid-container">
                <ul class="rig columns-3" id="itemLoop">
                    <p style="font-size: 20px; margin-top: 10px;">Estos son los nombres de los <strong>actores</strong> que se encuentran en la base de datos:</p>
                </ul>
            </div>
        </div>
    </div>
    
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center">© 2020 Copyright:
            <a href="#">takemymovie.com</a>
        </div>
        <!-- Copyright -->
        
    </footer>


    <!-- <h3>Add Movie</h3>
    <form method= "post" action="/movie/add">
        <label>Movie name</label><br>
        <input type = "text" name="title">
        <br><br>
        <input type = "submit" value="submit">
    </form>

    <h3>Add Actor</h3>
    <form method= "post" action="/actor/add">
        <label>Actor name</label><br>
        <input type = "text" name="name">
        <br><br>
        <input type = "submit" value="submit">
        <br>
    </form>

    <h3>Add Actor to Movie</h3>
        <form method= "post" action="/movie/actor/add">
        <label>Movie name</label><br>
        <input type = "text" name="title">
        <br><br>
        <label>Actor name</label><br>
        <input type = "text" name="name">
        <br><br>
        <input type = "submit" value="submit">
    </form> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        var myVar = <%- JSON.stringify(actors) %>;
        console.log(myVar.length)
        

        for(var i = 0; i < myVar.length; i++) {
            if(myVar[i].name!="null (animation movie)"){
                document.getElementById('itemLoop').innerHTML += myVar[i].name;
                document.getElementById('itemLoop').innerHTML += `<br>`;
            }
        }   
        
    </script>


    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>
    </body>
</html>
