*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0;    
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

ul,li,nav{
    list-style-type: none;

}
.peliculasRedirect{
    vertical-align: top;
}
.colorearContenedorArriba{
    background: rgb(221,101,101);
    background: linear-gradient(183deg, rgba(221,101,101,1) 0%, rgba(232,179,147,1) 51%, rgba(221,101,101,1) 100%);
    border-bottom: #2D2926 3px solid;
}

    .nav_menu_right{
        padding-bottom: 10px;
    }

/*HEADER Y SUS DATOS*/
.header{
    display: flex;
    height: 26px;
    justify-content: center;
    background-color: #2D2926;
    
}
header p.header-body{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;

}
header p.header-body a{
    color: white;
    text-decoration: none;
    
}
header p.header-body a:hover{
    color: #dd6565;
}


/*PARTE IZQUIERDA MENU LOGO*/

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #2D2926;
    border-radius: 0px 40px 40px 10px;
    -moz-border-radius: 0px 40px 40px 10px;
    -webkit-border-radius: 0px 40px 40px 10px;

}
    .imagenLogo{
        margin-right: 20px;
        z-index: 300;
    }

.nav-link-propio{
    background-color: transparent;
    position: absolute;
    padding: 6.5rem 9.5rem;
    z-index: 200;
    opacity: 1;
}

/*PARTE MEDIA DEL MENU*/
.navegacionBarra ul li{
    margin-right: 70px;
    transition: ease 0.9s;
}
    .navegacionBarra ul li:hover{
        background-color: whitesmoke;
    }

.navegacionBarra ul li a.normal{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 170px;
    transition: ease 0.5s;
}

    .itemDrop{
        color: #000000;
        font-family: 'Quicksand';
        
    }
    .itemDrop:hover{
        color:gray;
        text-decoration: none;
    }

    .btn {
        background-color: #2D2926;
        border: none; 
        color: white; 
        padding: 12px 16px;
        font-size: 16px; 
        cursor: pointer; 
    }
    

.primerHeader{
    margin-top: 50px;
    display: none;
}


.container-fluid-propio{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.containerPropioAbajo{
    justify-content: center;
}


.rowPropio{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.contenedorIzquierda{
    background-color:whitesmoke;
    border: solid #34495e 2px;
    border-radius: 2rem;
    margin-top: 80px;
    margin-left: 11rem;
    margin-right: 3rem;
    padding-top: 30px;
}

    .custom-select-propio{
        display: inline-block;
        width: 100%;
        color: #495057;
        padding: .375rem 1.75rem .375rem .75rem;        
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius:.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        overflow-y: scroll;
    }
    
    .editarRecomendar{
        color: #495057;
        list-style: none;
        font-size: 16px;
        border-radius: 2rem;
        padding: 0.375rem;
    }
    .editarRecomendar:hover{
        color: whitesmoke;
        list-style: none;
        text-decoration: none;
        background: rgb(0,212,255);
        background: linear-gradient(321deg, rgba(0,212,255,1) 0%, rgba(41,168,220,1) 27%, rgba(73,133,192,1) 91%);  
    }




.contenedorDerecha{   
    border-radius: 2rem;
    border: solid #34495e 2px;
    height: 1600px;
    margin-top: 80px;
    background-color: whitesmoke;
}





.abrir{
    font-size: 14px;
}

.recomend{
    font-size: 20px;
    color: black;
    font-family: 'Quicksand';
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    width: 200px;
    height: 150px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: 70px;
    margin-right: 70px;

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    text-align: center;   
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
    .flip-card-front {
    
    }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 2rem;
    transition: ease 0.3s;
  }
  .flip-card-back a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
    transition: ease 0.5s;

  }
    .flip-card-back:hover {
        background: rgb(0,212,255);
        background: linear-gradient(321deg, rgba(0,212,255,1) 0%, rgba(41,168,220,1) 27%, rgba(73,133,192,1) 91%); 
    }
    .flip-card-back a:hover{
        font-size: 25px;
        color: black;
        text-decoration: none;
        
    }

.form-group1{
    margin-top: 50px;

}
.form-group2{
    margin-top: 200px;
}

.form-group3{
    margin-top: 200px;
}

.container-fluid-propio-derecha{
    margin-right: auto;
    margin-left: 50px;
    justify-content: center;

}


.card-body-propio{
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
}

.card-title{
    display: flex;
    font-family: 'Quicksand';
    font-weight: bolder;
    font-size: 14px;
    background: rgb(0,212,255);
    background: linear-gradient(321deg, rgba(0,212,255,1) 0%, rgba(41,168,220,1) 27%, rgba(73,133,192,1) 91%);  
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 2rem;
}

.card-average{
    display: flex;
    align-self: flex-start;
    background: rgb(0,212,255);
    font-size: 14px;
    background: linear-gradient(321deg, rgba(0,212,255,1) 0%, rgba(41,168,220,1) 27%, rgba(73,133,192,1) 91%);  
    border-radius: 2rem;
    padding: 0.5rem;
    margin-left: 0.7rem;
}




    
.modal{
    display:none ;
    position: fixed;
    z-index:1;
    overflow: auto;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.452);
}

    .flex{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        
    }
    .tituloModalEditar{
        padding-top: 5px;
        padding-left: 20px;
        font-family: 'Raleway';
    }
        .contenido-modal{
            border-radius: 2.1rem;
            position: relative;
            background-color: #fefefe;
            margin: auto;
            width: 30%;
            animation-name: modal;
            animation-duration: 0.7s;
            -webkit-box-shadow: 13px 10px 14px 5px rgba(0,0,0,0.75);
            -moz-box-shadow: 13px 10px 14px 5px rgba(0,0,0,0.75);
            box-shadow: 13px 10px 14px 5px rgba(0,0,0,0.75);
        }

        .card-text{
            padding: 18px;
            font-family: 'Raleway';
        }

        .card-reparto{
            padding-left: 20px;
            font-size: 16px;
            font-family: 'Raleway';
        }

        .card-director{
            padding-left: 20px;
            font-size: 16px;
            font-family: 'Raleway';
        }
        
        .card-genero{
            padding-left: 20px;
            font-size: 16px;
            font-family: 'Raleway';
        }

        .footerPropio{
            color: white;
            background: rgb(0,212,255);
            background: linear-gradient(321deg, rgba(0,212,255,1) 18%, rgba(41,168,220,1) 38%, rgba(73,133,192,1) 58%);
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;
            padding:9px;

        }
        .printReleased{
            margin-left: 20px;
            font-family: 'Raleway';
            
        }
        @keyframes modal{
            from{top:-330px; opacity:0;}
            to{top:0; opacity:1;}
        }

        
        


.modal-header-propio{
    padding: 8px 16px;
    background: rgb(0,212,255);
    background: linear-gradient(321deg, rgba(0,212,255,1) 18%, rgba(41,168,220,1) 38%, rgba(73,133,192,1) 58%);

    color:#f2f2f2;
}


.footer-copyright{
    margin-top: 3%;
    padding: 20px;
    background-color: #2D2926;
    color: white;
}
    .footer-copyright a{
        color: inherit;
        text-decoration: none;
    }
    .footer-copyright a:hover{
        color: #dd6565;
        text-decoration: none;
    }

@media screen and (max-width:900px){
    .contenido-modal{
        width: 70%;
    }
    .textos{
        padding: 150px;
    }
}

@media screen and (max-width:500px){
    .textos{
        padding:50px;
    }
}